<p>
  <strong>Name:</strong>
  <%= @person.name %>
  <strong>Last Name: </strong>
  <% @person.last_name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @person.email %>
  <strong>Company:</strong>
  <%= @person.company %>
  <strong>Job Title:</strong>
  <%= @person.job_title %>
  <strong>Phone:</strong>
  <%= @person.phone %>
  <strong>Website:</strong>
  <%= @person.website %>
</p>
